[submodule "Masita/vendor/spdlog"]
	path = Masita/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Masita/vendor/GLFW"]
	path = Masita/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Masita/vendor/imgui"]
	path = Masita/vendor/imgui
	url = https://github.com/TheCherno/imgui
